---
title: Inflatable List
---

%ul.contacts
  %li.item{:'data-contact-id' => '1'}
    %h1{:'data-contact-attribute' => 'firstname'} Ralf
    %h2{:'data-contact-attribute' => 'lastname'} Hütter
    %p{:'data-contact-attribute' => 'phone'} +49 000 000 00
  %li.item{:'data-contact-id' => '2'}
    %h1{:'data-contact-attribute' => 'firstname'} Michael
    %h2{:'data-contact-attribute' => 'lastname'} Rother
    %p{:'data-contact-attribute' => 'phone'} +49 000 000 00
  %li.item{:'data-contact-id' => '3'}
    %h1{:'data-contact-attribute' => 'firstname'} Emil
    %h2{:'data-contact-attribute' => 'lastname'} Schult
    %p{:'data-contact-attribute' => 'phone'} +49 000 000 00