$greenish: #d0f9a9;

html {
	background-image: url(txture.png);
	color: $greenish;
	font-family: Tahoma;
	margin: 0;
	padding: 0;
}

button {
	height: 30px;
	border-radius: 8px;
	border: none;
	background-color: #000;
	font-size: 20px;
	color: $greenish;
}

.visualNode {
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #90a1b1;
	cursor: pointer;
	margin-left: -50px;
	&:hover {
		border: 1px #b6cfe7 solid;
	}
}

.activated {
		background-color: #42a4ff;
}